<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <title>FindMe</title>
</head>
<body>
    <div id="app">
        <p>[[ joinGameLobbyId ]]</p>
        <div class="btn btn-primary" v-on:click="createNewGame">Create Game</div>
        <input class="form-control" id="gameLobbyIdInput" placeholder="Enter the game lobby ID" v-model="joinGameLobbyId">
        <input class="form-control" id="phoneNumberInput" placeholder="Enter your phone number" v-model="phoneNumber">
        <div class="btn btn-success" v-on:click="joinGame">Join Game</div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>